{:path ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        techascent/tech.io {:mvn/version "3.17"}
        amazonica {:mvn/version "0.3.152"
                   :exclusions [com.fasterxml.jackson.dataformat/jackson-dataformat-cbor
                                com.fasterxml.jackson.core/jackson-databind
                                com.amazonaws/aws-java-sdk
                                com.amazonaws/amazon-kinesis-client
                                com.amazonaws/dynamodb-streams-kinesis-adapter]}
        com.amazonaws/aws-java-sdk-core {:mvn/version "1.11.698"
                                         :exclusions [commons-logging]}
        com.amazonaws/aws-java-sdk-sqs {:mvn/version "1.11.698"}
        com.fasterxml.jackson.dataformat/jackson-dataformat-cbor {:mvn/version "2.10.2"}
        com.fasterxml.jackson.core/jackson-databind {:mvn/version "2.10.2"}
        techascent/tech.parallel {:mvn/version "2.8"}
        factual/durable-queue {:mvn/version "0.1.6"
                               :exclusions [com.taoensso/nippy]}
        com.stuartsierra/component {:mvn/version "0.4.0"}}

 :aliases {:test {:extra-deps {techascent/vault-clj {:mvn/version "0.3.0"}}}}
 :mvn/repos {"releases" {:url "s3://techascent.jars/releases/"}}}
